---
import Icon from "astro-icon";

type Props = {
  name: string;
  title: string;
  company: string;
  image: string;
  quote: string;
};

const { name, title, company, image, quote } = Astro.props;
---

<div
  class="flex flex-col justify-between md:col-span-4 rounded-lg bg-indigo-50 p-6 shadow-md"
>
  <p class="text-sm md:text-md mb-4 flex-grow text-gray-800">{quote}</p>

  <div class="grid md:grid-cols-12 md:justify-between items-start">
    <div class="col-span-8 flex">
      <div class="relative w-8 h-8 md:w-12 md:h-12 mr-4">
        <img src={image} alt={name} class="object-cover rounded-full" />
      </div>

      <div>
        <p class="text-indigo-600 font-semibold text-sm md:text-md">
          {name}
        </p>

        <p class="text-xs md:text-sm font-light text-gray-800">
          {title} / {company}
        </p>
      </div>
    </div>

    <div
      class="md:col-span-4 hidden md:inline-flex justify-end text-indigo-500"
    >
      <Icon name="icomoon-free:quotes-right" class="" />
    </div>
  </div>
</div>

<style>
  [astro-icon] {
    width: 4rem;
    height: 4rem;
  }
</style>
